*{
  margin: 0;padding: 0;
}
body{
  overflow-x: hidden;
  background-color: #141b29;
  /* background-color: #334366; */
  /* color: ; */
  box-sizing: border-box;
  /* background-color: rgb(71, 71, 245); */
  /* justify-content: sp; */
  
}
.slick-dots li.slick-active button:before {
  color:White !important;
  margin: 5px 0px;
}
.slick-dots li button:before {
  color:White !important;
  margin: 5px 0px;
}